html {
    height: 100%;
    width: 100%;
    font-size: 14px;
}

body {
    display: flex;
    height: fit-content;
    width: 99%;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    
}
div {
    resize: both;
    display: flex;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid black;
    overflow-y: scroll;
    flex-direction: column;
}

#div-Container {
    display: flex;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
    height: 570px;
    width: 750px;
}

img {
    margin: 5px;
    
}
